form{
    border: 2px solid green;
    width: 520px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgb(100, 92, 92);
    padding: 10px;
}
form input{
    width: 500px;
}
form button{
    margin-left: 40%;
}
fieldset, form , h1{
    margin: 15px;
}